In [6]:
import os
from bs4 import BeautifulSoup

input_path = 'data/sejong_corpus/test/'

In [4]:
dir_list =  [txt for txt in os.listdir(input_path) if txt.endswith(".txt")]

for txt in dir_list :
    with open(input_path+txt, 'r',encoding='utf16') as f:
        tmp = f.read()

In [8]:
soupData = BeautifulSoup(tmp,'html.parser')

p_list = soupData.findAll('p')

In [24]:
import re

seq = []
for idx in range(len(p_list)) :
    seq.append(re.sub(r'[a-zA-Z()†]','',p_list[idx].text))

In [25]:
lines = []
for str_ in seq :
    lines.extend(str_.split('.'))

In [29]:
with open(input_path+txt.split('.')[0]+'_conv.'+txt.split('.')[1], 'w', encoding='utf8') as f :
    f.write('\n'.join(lines))

In [1]:
import pandas as pd

path = 'C:/dev/workspace/AutoGenerating_VariableName/pjt_practice/ipynb/data/sejong_corpus/spacing.csv'

data = pd.read_csv(path)

C:\dev\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\dev\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\dev\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
data

,idx,origin,result,sp_res
0,5CT_0013-0000030,뭐,뭐/NP,뭐
1,5CT_0013-0000040,타고,타/VV+고/EC,타 고
2,5CT_0013-0000130,지하철.,지하철/NNG+./SF,지하철 .
3,5CT_0013-0000180,기차?,기차/NNG+?/SF,기차 ?
4,5CT_0013-0000210,아침에,아침/NNG+에/JKB,아침 에
...,...,...,...,...
10771913,BTJO0447-00012391,널리,널리/MAG,널리
10771914,BTJO0447-00012392,보급되기를,보급/NNG + 되/XSV + 기/ETN + 를/JKO,보급 되 기 를
10771915,BTJO0447-00012393,바라마지,바라/VV + 아/EC + 말/VX + 지/EC,바라 아 말 지
10771916,BTJO0447-00012394,않는,않/VX + 는/ETM,않 는
10771917,BTJO0447-00012395,바이다.,바/NNB + 이/VCP + 다/EF + ./SF,바 이 다 .

In [6]:
newPath = 'C:/dev/workspace/AutoGenerating_VariableName/pjt_practice/ipynb/data/sejong_corpus/newDataset.txt'

res = ''
for txt in data.sp_res :
    res += str(txt) + '\n'

with open(newPath,'w',encoding='utf8') as f :
    f.write(res)

In [16]:
newPath = 'C:/dev/workspace/AutoGenerating_VariableName/pjt_practice/ipynb/data/sejong_corpus/newDataset.txt'

with open(newPath,'r',encoding='utf8') as f :
    tmp = f.readlines()

len(tmp)

10771918

In [18]:
import os
tmp_path = 'C:/dev/Temporary_Test/py/AMVN_alpha/data/embed/weights/'

weights_list = os.listdir(tmp_path)

In [20]:
weights_list[-1]

'spacing_model_100.params'